

@mixin transition($transition) {
-webkit-transition: $transition;
   -moz-transition: $transition;
	-ms-transition: $transition;
	 -o-transition: $transition;
		transition: $transition;
}
@mixin transform($transforms) {
	   -moz-transform: $transforms;
	     -o-transform: $transforms;
	    -ms-transform: $transforms;
	-webkit-transform: $transforms;
          transform: $transforms;
}


@mixin letter-spacing($letter-track, $font-size) {
	letter-spacing: $letter-track * $font-size / 1000 + px;
}
@mixin overlay($color, $opacity) {
	position: relative;

	&:before {
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		content: '';
		position: absolute;
		background: rgba($color, $opacity);
	}
}

@mixin align-center($type: 'all') {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;

	// all
	@if $type == 'all' {
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		
	// horizontal
	} @else if $type == 'horizontal' {
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;

	// vertical
	} @else if $type == 'vertical' {
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;

	// vertical
	} @else if $type == 'bottom' {
		-webkit-box-align: end;
		-ms-flex-align: end;
		align-items: flex-end;
	}
}